* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 175px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bolder;
}

ul {
    display: flex;
    list-style-type: none;
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
    padding: 0;
    gap: 25px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.hero {
    display: flex;
    flex: 1;
    padding: 50px 175px;
    margin: 50px 0px;
}

.hero .left {
    min-width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
}

.hero .hero-heading {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.hero .hero-text {
    font-size: 18px;
    color: #e5e7eb;
}

.hero button {
    width: max-content;
    background-color: #3882f6;
    font-weight: bold;
    color: #f9faf8;
    padding: 0px 20px;
    border-color: #3882f6;
    border-radius: 5px;
    margin-top: 10px;
}

.hero .right {
    min-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero img {
    width: 100%;
    height: 100%;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f9faf8;
    padding: 30px 175px;
}

.info-heading {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
}

.examples {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
    gap: 30px;
}

.example {
    display: flex;
    flex-direction: column;
    max-width: 20%;
}

.example .description {
    margin-top: 10px;
}

.info img {
    border: solid 5px #3882f6;
    border-radius: 20px;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 100px 200px;
}

.qt-body {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

.signature {
    text-align: end;
    font-size: 20px;
    font-weight: bolder;
    margin-right: 50px;
}

.call-to-action-container{
    padding: 100px 150px;
}

.call-to-action {
    display:flex;
    background-color: #3882f6;
    color:#f9faf8;
    border-radius: 10px;
}

.call-to-action .left {
    display: flex;
    flex-direction: column;
    padding: 40px 75px 40px 100px;
    width: 70%;
}

.call-to-action .call {
    font-size: 20px;
    font-weight: bold;
}

.call-to-action .call-body {
    font-size: 14px;
}

.call-to-action .right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.call-to-action button {
    background-color: #3882f6;
    color: #f9faf8;
    border: 0.5 solid #f9faf8;
    border-radius: 4px;
    padding: 2px 20px;
    font-weight: bolder;
}

footer {
    background-color: #1f2937;
    color: #e5e7eb;
    text-align: center;
    padding: 30px 0px;
}